.nav-side {
  text-align: center;
  margin: 2rem 0rem;
  color: white;
}

.img-profile {
  width: 50%;
  border-radius: 100%;
}
.margin-space {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 200px;
  height: 100%;
}

.curser {
  cursor: pointer;
}